#main-title {
  text-align: center;
  font-family: "Lobster";
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sub-title {
  text-align: center;
  font-family: "Lobster";
  font-size: 30px;
  margin-bottom: 5px;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  height: 100%;
  width: 100%;
}

ul li {
  display: inline-block;
  list-style: none;
}

.sub-title {
  text-align: center;
}

.datamap {
  margin: auto 105px;
}
